name: First CICD pipeline
on:
  push:
     branches: [main]
jobs:
  build:
     runs-on: ubuntu-latest
  steps:
     - name: Checkout code
       uses: actions/checkout@v3
     - name: Run script
       run: echo "Hello Bindu, your first Github actions ran successfully"
